# Discord Bot Token
# Get from: https://discord.com/developers/applications
DISCORD_BOT_TOKEN=YOUR_TOKEN_HERE

# Supabase Settings
# Get from: https://supabase.com/dashboard/project/_/settings/api
SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_KEY=YOUR_SUPABASE_KEY
